= render partial: "shared/errors_for", locals: { object: resource }
%h3< My Account
%table.table
  %tr
    %td.my-account-key< Name
    %td= resource.name
  %tr
    %td.my-account-key< Email
    %td= resource.email
