= render partial: "shared/errors_for", locals: { object: @site_config }
= render partial: "show_landing_page_cover_photo"
= render partial: "update_landing_page_cover_photo"
= render partial: "remove_landing_page_cover_photo"
