.row
  .col-xs-4= clazz.display_time
  .col-xs-4
    .class-name= clazz.name
    .class-types= clazz.display_clazz_types
  .col-xs-4= clazz.display_studio
- if clazz.canceled?
  .cancelation-warning< This class has been canceled
- elsif clazz.substituted?
  .substitution-warning< This class will be taught by someone else
