.row
  .col-xs-3= clazz.display_time
  .col-xs-5= clazz.name
  .col-xs-4= clazz.display_studio
- if clazz.canceled?
  .row
    .col-xs-12
      .cancelation-warning< This class has been canceled
- elsif clazz.substituted?
  .row
    .col-xs-12
      .substitution-warning< This class will be taught by someone else
