%li.list-group-item
  .row
    .col-xs-offset-1.col-xs-11.profile-path-label
%li.list-group-item
  .row
    .col-xs-3.vcenter.class-info-key< Profile Path
    .col-xs-8.vcenter= f.text_field :profile_path, class: "form-control profile-path-input"
%li.list-group-item
  .center= f.submit "Save", class: "btn btn-primary"

:javascript
  function setLabel(profile_path) {
    $(".profile-path-label").html("http://sweatspace.io/" + profile_path);
  };
  $(".profile-path-input").keyup(function(event) {
    setLabel(event.target.value);
  });
  var initial_profile_path = $(".profile-path-input").attr("value");
  setLabel(initial_profile_path);
