.profile-header
  = render partial: "new_class_button"
  = render partial: "shared/profile_photo", locals: { instructor_profile: @instructor_profile, is_owner: @is_owner }
  .name= @instructor_profile.full_name
