- if @navbar.needs_landing_info?
  .panel.panel-default.info-box#landing-info
    .panel-heading
      .panel-title< Welcome to SweatSpace
    .panel-body
      %p
        We are a new community for New York City-based fitness instructors and the people who love their classes.  Check out our
        = link_to "FAQ", faq_path
        for more info.
      %p
        We're just getting started and don't have a traditional home
        page yet.  Below this box is an instructor's profile.  Click on
        the
        %span
          %i.glyphicon.glyphicon-flash
        on the top right to discover another!
      %p
        = form_for :got_it, url: got_its_path, method: :post, remote: true do |f|
          = hidden_field_tag :key, "acked_landing_page_info"
          = f.submit "Got It", class: "btn btn-primary btn-got-it", id: "landing-page-got-it-btn"
  :javascript
    $("#landing-page-got-it-btn").click(function() {
      $("#landing-info").fadeOut();
    });
