- if @navbar.new_class_button?
  .panel.panel-default.new-class-buttons
    %ul.list-group
      %li.list-group-item
        .row
          .col-xs-6.center.btn-recurring
            = link_to new_recurring_class_path, class: "btn btn-new" do
              %span
                %i.glyphicon.glyphicon-plus
              Recurring
          .col-xs-6.center
            = link_to new_class_path, class: "btn btn-new" do
              %span
                %i.glyphicon.glyphicon-plus
              One-time
