= render partial: "shared/errors_for", locals: { object: @instructor_profile }
%h3< Edit your instructor profile
= form_for @instructor_profile, url: { action: :update } do |f|
  = render partial: "form_fields", locals: { f: f }
