= render partial: "shared/errors_for", locals: { object: @instructor_profile }
.panel.panel-default
  .panel-heading
    .panel-title< Create an instructor profile
  %ul.list-group
    = form_for @instructor_profile, url: { action: :create } do |f|
      = render partial: "form_fields", locals: { f: f }
