.panel.panel-default
  .panel-heading
    .panel-title< Your account has been created
  .panel-body
    You are one click away from having a SweatSpace profile.  When you want to get started, click the profile
    %span
      %i.glyphicon.glyphicon-plus
    button above.

