- if @navbar.create_profile_button?
  .panel.panel-default.create-profile-button
    .panel-heading
      .panel-title< Click below to get started
    .panel-body.center
      = link_to new_instructor_profile_path, class: "btn btn-new btn-sm navbar-btn" do
        %span
          %i.glyphicon.glyphicon-plus
        Profile
