= render partial: "shared/errors_for", locals: { object: @recurring_class }
.panel.panel-default
  .panel-heading
    .panel-title< Create a recurring class
  %ul.list-group
    = form_for @recurring_class, url: recurring_class_path(@recurring_class), method: :patch do |f|
      = render partial: "form_fields", locals: { f: f }
