%h3< Select the date
= form_for @clazz, url: wizard_path, method: :patch do |f|
  .form-group
    = f.label :class_date
    = f.text_field :class_date, class: "form-control", id: "datepicker", readonly: true, autofocus: true
  .form-actions
    = f.submit "Next", class: "btn btn-primary"

:javascript
  $(document).ready(function() {
    $('#datepicker').pickadate({
      today: "",
      clear: "",
      format: "yyyy-mm-dd"
    });
  });
