- if @class_template.class_template_class_types.any?
  %ul.list-group
    - sorted_records(@class_template.class_template_class_types, :clazz_type_name).each do |class_template_class_type|
      %li.list-group-item
        = link_to class_template_class_type.clazz_type_name, edit_admin_class_type_path(class_template_class_type.clazz_type)
        = link_to "Remove", admin_class_template_class_type_path(class_template_class_type), method: :delete, class: "btn btn-danger btn-xs pull-right"
