= f.hidden_field :class_template_id, value: @class_template.id
.form-group
  = f.select :clazz_type_id, not_class_template_class_type_options(@class_template), { include_blank: true }, class: "form-control"
.form-actions
  = f.submit "Add Class Type", class: "btn btn-primary"
