= render partial: "shared/errors_for", locals: { object: resource }
.panel.panel-default
  .panel-heading
    .panel-title< Password Recovery
  %ul.list-group
    = form_for resource, as: resource_name, url: user_password_path, method: :post do |f|
      %li.list-group-item
        .row
          .col-xs-3.vcenter.class-info-key< Email
          .col-xs-8.vcenter= f.email_field :email, autofocus: true, class: "form-control"
      %li.list-group-item
        .center= f.submit "Send me reset password instructions", class: "btn btn-primary"
