- if object.errors.any?
  .flash
    .row
      .col-xs-offset-1.col-xs-10
        - object.errors.full_messages.each do |message|
          .shadow.alert.alert-danger= message
  :javascript
    HideFlash();
