- if instructor_profile.profile_photo?
  .profile-photo
    = link_to profile_path(instructor_profile.profile_path) do
      = sweatspace_image instructor_profile.profile_photo.scaled_full
    - if @navbar.new_class_button?
      = link_to edit_profile_photo_path, class: "btn btn-edit edit-icon", remote: true do
        %span
          %i.glyphicon.glyphicon-edit
- elsif @navbar.new_class_button?
  .center
    = link_to edit_profile_photo_path, remote: true, class: "btn btn-edit" do
      Profile Photo
      %span
        %i.glyphicon.glyphicon-edit
