- if instructor_profile.profile_photo?
  .profile-photo
    = link_to profile_path(instructor_profile.profile_path) do
      = sweatspace_image instructor_profile.profile_photo.scaled_full
    - if is_owner
      = link_to edit_profile_photo_path, remote: true do
        %span.edit-icon
          %i.glyphicon.glyphicon-edit
- elsif is_owner
  .center
    = link_to edit_profile_photo_path, remote: true, class: "btn btn-success" do
      Profile Photo
      %span
        %i.glyphicon.glyphicon-edit
