- if instructor_profile.profile_photo?
  .profile-photo
    = link_to edit_profile_photo_path, remote: true do
      = sweatspace_image instructor_profile.profile_photo.scaled_full
- else
  .center= link_to "Set Profile Photo", edit_profile_photo_path, remote: true, class: "btn btn-success"
