- if instructor_profile.profile_photo?
  .profile-photo{ class: centered ? "profile-photo-center" : "profile-photo-left" }
    = link_to instructor_profile_profile_photo_path(instructor_profile.profile_path), remote: true do
      = sweatspace_image instructor_profile.profile_photo.scaled_full
    - if @navbar.new_class_button?
      = link_to edit_instructor_profile_profile_photo_path, class: "btn btn-edit edit-icon" do
        %span
          %i.glyphicon.glyphicon-edit
- elsif @navbar.new_class_button?
  .center
    = link_to edit_instructor_profile_profile_photo_path, class: "btn btn-edit" do
      Profile Photo
      %span
        %i.glyphicon.glyphicon-edit
