= f.hidden_field :clazz_type_id, value: @clazz_type.id
.form-group
  = f.select :class_template_id, not_clazz_type_class_template_options(@clazz_type), { include_blank: true }, class: "form-control"
.form-actions
  = f.submit "Add Class Template", class: "btn btn-primary"
