.panel.panel-default
  .panel-heading
    .panel-title< Un-cancel Class
  .panel-body
    %p< Click here to make your schedule no longer indicate that the class is canceled.
    = form_for :class_change, url: uncancel_class_change_path(@clazz) do |f|
      = f.submit "Un-cancel Class", class: "btn btn-danger", data: { confirm: "Are you sure you want to un-cancel the class?" }
