= render partial: "shared/errors_for", locals: { object: @clazz }
= link_to classes_path(@clazz), class: "btn btn-default" do
  %span
    %i.glyphicon.glyphicon-arrow-left
%h3< Create a one-time class
= form_for @clazz, url: { action: :create } do |f|
  = render partial: "form_fields", locals: { f: f }
