= f.hidden_field :studio_id, value: @studio.id
.form-group
  = f.select :class_template, not_studio_class_template_options(@studio), {}, class: "form-control"
.form-actions
  = f.submit "Add Class Template", class: "btn btn-primary"
