%h3
  Studios
  = link_to "Add a Studio", new_admin_studio_path, class: "btn btn-primary btn-sm pull-right"
- if @studios.any?
  %table.table
    - @studios.each do |studio|
      %tr
        %td= studio.name
        %td= link_to "Edit", edit_admin_studio_path(studio), class: "btn btn-info btn-xs pull-right"
- else
  %p< No studios
