.classes {
  .past-class {
    color: lightgrey;
  }

  .date-range {
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px;

    .class-count {
      text-align: center;
    }
  }

  .prev-button {
  }

  .next-button {
    float: right;
  }

  .class-types, .class-duration {
    font-size: 10px;
    color: #747474;
    font-style: oblique;
  }
}

.canceled-class {
  div {
    text-decoration: line-through;
  }
}

.class-info-key {
  font-weight: bold;
}

.class-canceled-warning {
  color: red;
}

.substitution-warning, .cancelation-warning {
  color: red;
  font-weight: bold;
}

#datepicker[readonly], #timepicker[readonly] {
  background-color: white !important;
}

.class-summary {
  text-transform: lowercase;
  text-align: center;
  font-size: 18px;
  letter-spacing: 2px;
}

.studio-address {
  text-align: center;
  margin-bottom: 5px;
}

.studio-map {
  text-align: center;

  img {
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
  }
}

.social-links {
  text-align: center;

  .btn {
    margin-left: 2px;
    margin-right: 2px;
  }
}
