.classes {
  .past-class {
    color: lightgrey;
  }

  .date-range {
    font-size: small;
    font-style: italic;
  }

  .prev-button {
  }

  .next-button {
    float: right;
  }
}

.canceled-class {
  div {
    text-decoration: line-through;
  }
}

.class-info-key {
  font-weight: bold;
}

.class-canceled-warning {
  color: red;
}

.substitution-warning, .cancelation-warning {
  color: red;
  font-weight: bold;
}

#datepicker[readonly], #timepicker[readonly] {
  background-color: white !important;
}
