.classes {
  .past-class {
    color: lightgrey;
  }

  .date-range {
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px;

    .class-count {
      text-align: center;
    }
  }

  .prev-button {
  }

  .next-button {
    float: right;
  }

  .class-types, .class-duration {
    font-size: 10px;
    color: #747474;
    font-style: oblique;
  }

  .col-xs-3, .col-xs-4, .col-xs-5 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.canceled-class {
  div {
    text-decoration: line-through;
  }
}

.class-info-key {
  font-weight: bold;
}

.class-canceled-warning {
  color: red;
}

.substitution-warning, .cancelation-warning {
  color: red;
  font-weight: bold;
}

#datepicker[readonly], #timepicker[readonly] {
  background-color: white !important;
}
