.profile-header {
  padding-top: 8px;
  padding-bottom: 8px;

  .name {
    text-transform: lowercase;
    text-align: center;
    font-size: 24px;
    letter-spacing: 2px;
    margin-bottom: 2px;
  }

  position: relative;
}

.profile-photo {
  position: relative;
  margin-bottom: 2px;

  img {
    border-radius: 2px;
    -moz-box-shadow: 0px 0px 4px #555;
    -webkit-box-shadow: 0px 0px 4px #555;
    box-shadow: 0px 0px 4px #555;
    display: block;
    margin: 0 auto;
  }

  .edit-icon {
    position: absolute;
    margin-left: 47px;
    margin-top: -81px;
    left: 50%;
    top: 50%;
    .glyphicon {
      margin-left: -2px;
      margin-right: -5px;
    }
  }
}

.cover-photo {
  img {
    max-width: 100%;
  }
}

.social-links {
  text-align: center;

  .btn {
    margin-left: 2px;
    margin-right: 2px;
  }

  .edit-icon {
    .glyphicon {
      margin-left: -2px;
      margin-right: -5px;
    }
  }
}

.social-url-example {
  margin-left: 8px;
  font-size: 10px;

  .stem, .name {
    display: inline;
  }

  .name {
    margin-left: -2px;
    background-color: yellow;
  }
}

.profile-path-label {
  font-size: 10px;
}

.new-class-buttons, .create-profile-button {
  .glyphicon {
    font-size: 12px;
  }
}

.new-class-buttons {
  border-radius: 2px;

  .col-xs-6 {
    margin: 0;
  }

  .btn-recurring {
    border-right: 1px solid grey;
  }
}
