.profile-header {
  padding-top: 8px;
  padding-bottom: 8px;

  .name {
    text-transform: lowercase;
    text-align: center;
    font-size: 24px;
    letter-spacing: 2px;
    margin-bottom: 0px;
  }

  position: relative;

  .btn-edit {
    margin-top: 4px;
    margin-bottom: 4px;
    opacity: 0.75;
  }
}

.cover-photo {
  margin-top: -8px;

  @media (max-width: 767px) {
    min-height: 100px;
  }

  @media (min-width: 768px) {
    min-height: 173px;
  }

  .edit-icon {
    position: absolute;
    top: 0px;
    right: 5px;
  }
}

.profile-photo {
  @media (max-width: 767px) {
    margin-left: 8px;
    margin-top: -92px;
  }

  @media (min-width: 768px) {
    margin-left: 14px;
    margin-top: -160px;
  }

  margin-bottom: -8px;
  position: relative;

  img {
    @media (max-width: 767px) {
      width: 100px;
      height: 100px;
    }

    border: 2px solid grey;
    border-radius: 84px;
    display: block;
  }

  .edit-icon {
    position: absolute;

    @media (max-width: 767px) {
      margin-left: 67px;
      margin-top: -101px;
    }

    @media (min-width: 768px) {
      margin-left: 130px;
      margin-top: -168px;
    }
  }
}

.cover-photo-img {
  img {
    width: 100%;
    -moz-box-shadow: 0px 0px 4px #555;
    -webkit-box-shadow: 0px 0px 4px #555;
    box-shadow: 0px 0px 4px #555;
  }
}

.social-links {
  text-align: center;

  .btn {
    margin-left: 2px;
    margin-right: 2px;
  }

}

.edit-icon {
  z-index: 100;
  .glyphicon {
    margin-left: -2px;
    margin-right: -5px;
  }
}

.social-url-example {
  margin-left: 8px;
  font-size: 10px;

  .stem, .name {
    display: inline;
  }

  .name {
    margin-left: -2px;
    background-color: yellow;
  }
}

.profile-path-label {
  font-size: 10px;
}

.new-class-buttons, .create-profile-button {
  .glyphicon {
    font-size: 12px;
  }
}

.new-class-buttons {
  border-radius: 2px;

  .col-xs-6 {
    margin: 0;
  }

  .btn-recurring {
    border-right: 1px solid grey;
  }
}
