.panel {
  border-radius: 0px;
  margin-bottom: 0px;
}

.panel-default {
  border: 0px;

  .panel-heading {
    background-color: $sweatspace-blue;
    border-radius: 0px;
    border: 0px;
    color: white;
  }
}
