.search-list-image, .search-list-name {
  display: inline-block;
}

.search-list-name {
  margin-left: 5px;
  text-transform: lowercase;
  letter-spacing: 2px;
  font-weight: bold;
  color: black;
}

.search-list-image {
  border-radius: 2px;
  width: 32px;
}
