body {
  background-color: lightgrey;
}

.container {
  padding-left: 0px;
  padding-right: 0px;
  background-color: lightgrey;
}

.section, .panel, .info-box, {
  background-color: white;
  margin-bottom: 12px;
  -moz-box-shadow: 0px 0px 4px #555;
  -webkit-box-shadow: 0px 0px 4px #555;
  box-shadow: 0px 0px 4px #555;
}

.section, .info-box {
  @media (max-width: 767px) {
    border-radius: 0px;
  }

  @media (min-width: 768px) {
    border-radius: 2px;
  }
}

.col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11 {
  padding-left: 5px;
  padding-right: 5px;
}

.row {
  margin-left: -5px;
  margin-right: -5px;
}

.col-xs-12, .col-md-6 {
  padding-left: 0px;
  padding-right: 0px;
}

#body {
  min-height: 400px;
}

.footer {
  text-align: center;
  font-size: small;
  margin: 20px;
}

.navbar-default {
  background-color: $sweatspace-blue;
  margin-bottom: 8px;
}

.navbar {
  border-radius: 0px;
  border: 0px;

  .container-fluid {
    padding-left: 0px;
    color: white;

    .dropdown {
      display: inline;
    }

    .navbar-brand {
      margin-left: 0px;
      color: white;
      text-transform: lowercase;
      letter-spacing: 2px;

      .glyphicon {
        top: 0px;
      }
    }

    .navbar-text {
      display: inline-block;
      margin-left: 15px;
    }
  }
}

.navbar-ghosting {
  background-color: red;
  margin-bottom: 0px;

  p.ghosting-as {
    font-weight: bold;
    text-transform: uppercase;
  }
}

.alert {
  margin-left: 5px;
  margin-right: 5px;
}

.list-group-item, .panel-body {
  padding-left: 5px;
  padding-right: 5px;

  .alert {
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.btn {
  text-transform: lowercase;
  letter-spacing: 2px;
}

.btn-primary {
  /* this is hacky */
  color: white !important;
}

.btn-new, .btn-edit {
  color: black;
  background-color: lightgrey;
  border: 1px solid;
}

.center {
  text-align: center;
}

.divider {
  border-top: 1px solid black;
  width: 60%;
  margin-top: 0px;
  margin-bottom: 4px;
}

.shadow {
  -moz-box-shadow: 0 0 5px 5px #555;
  -webkit-box-shadow: 0 0 5px 5px #555;
  box-shadow: 0 0 5px 5px #555;
}

.info-box {
  p {
    font-size: 12px;
  }

  .btn-got-it {
    float: right;
    margin-right: 8px;
  }
}

.position-relative {
  position: relative;
}

.modal-image {
  img {
    max-width: 100%;
  }
}

.wide-search {
  display: inline-block;
  position: relative;

  @media (max-width: 374px) {
    width: 255px;
  }

  @media (min-width: 375px) and (max-width: 413px) {
    width: 310px;
  }

  @media (min-width: 414px) {
    width: 349px;
  }
}

.narrow-search {
  float: right;

  @media (max-width: 374px) {
    max-width: 91px;
  }

  @media (min-width: 375px) and (max-width: 413px) {
    max-width: 146px;
  }

  @media (min-width: 414px) and (max-width: 767px) {
    max-width: 185px;
  }

  @media (min-width: 768px) {
    float: right;
    width: 320px;
  }

  input[readonly] {
    background-color: inherit;
  }
}

.wide-search, .narrow-search {
  position: relative;
  padding-left: 0px;

  .form-group {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .glyphicon {
    position: absolute;
    font-size: 18px;
    top: 15px;
    left: 4px;
  }

  input {
    color: white;
    background-color: $sweatspace-blue;
    height: 28px;
    margin-top: 4px;
    padding-left: 28px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid grey;
  }

  input:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border-bottom: 1px solid grey;
  }
}

#search-back-link {
  cursor: pointer;
}

#search-popout {
  z-index: 1;
  position: absolute;
  width: 90%;
  margin-top: -5px;
  margin-left: 5%;
  max-width: 406px;
  border-radius: 2px;
}
