body {
  background-color: lightgrey;
}

.container {
  padding-left: 0px;
  padding-right: 0px;
  background-color: lightgrey;
}

.section, .panel, .info-box {
  background-color: white;
  margin-bottom: 12px;
  -moz-box-shadow: 5px 5px 5px #555;
  -webkit-box-shadow: 5px 5px 5px #555;
  box-shadow: 5px 5px 5px #555;
}

.col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11 {
  padding-left: 5px;
  padding-right: 5px;
}

.row {
  margin-left: -5px;
  margin-right: -5px;
}

.col-xs-12, .col-md-6 {
  padding-left: 0px;
  padding-right: 0px;
}

#body {
  min-height: 400px;
}

.footer {
  text-align: center;
  font-size: small;
  margin: 20px;
}

.navbar-default {
  background-color: $sweatspace-blue;
  margin-bottom: 8px;
}

.navbar {
  border-radius: 0px;
  border: 0px;

  .container-fluid {
    padding-left: 0px;
    color: white;

    .dropdown {
      display: inline;
    }

    .navbar-brand {
      margin-left: 0px;
      color: white;
      text-transform: lowercase;
      letter-spacing: 2px;

      .glyphicon {
        top: 0px;
      }
    }

    .navbar-text {
      display: inline-block;
      margin-left: 15px;
    }
  }
}

.navbar-ghosting {
  background-color: red;
  margin-bottom: 0px;

  p.ghosting-as {
    font-weight: bold;
    text-transform: uppercase;
  }
}

.alert {
  margin-left: 5px;
  margin-right: 5px;
}

.list-group-item, .panel-body {
  padding-left: 5px;
  padding-right: 5px;

  .alert {
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.btn {
  text-transform: lowercase;
  letter-spacing: 2px;
}

.btn-primary {
  /* this is hacky */
  color: white !important;
}

.btn-new, .btn-edit {
  color: black;
  background-color: lightgrey;
  border: 1px solid;
}

.center {
  text-align: center;
}

.divider {
  border-top: 1px solid black;
  width: 60%;
  margin-top: 0px;
  margin-bottom: 4px;
}

.shadow {
  -moz-box-shadow: 0 0 5px 5px #555;
  -webkit-box-shadow: 0 0 5px 5px #555;
  box-shadow: 0 0 5px 5px #555;
}

.info-box {
  p {
    font-size: 12px;
  }

  .btn-got-it {
    float: right;
    margin-right: 8px;
  }
}

.position-relative {
  position: relative;
}
