.btn-youtube {
  color:#fff;
  background-color:#DC2725;
  border-color:rgba(0,0,0,0.2)
}

.btn-youtube:hover, .btn-youtube:focus, .btn-youtube:active, .btn-youtube.active {
  color: #fff;
  background-color: #B21E1C;
  border-color: rgba(0,0,0,0.2)
}

.btn-spotify {
  color: white;
  background-color: #6ab233;
  border-color:rgba(0,0,0,0.2)
}

.btn-spotify:hover, .btn-spotify:focus, .btn-spotify:active, .btn-spotify.active {
  color: #fff;
  background-color :#648F00;
  border-color: rgba(0,0,0,0.2)
}
