.btn-spotify {
  color: white;
  background-color: #6ab233;
  border-color:rgba(0,0,0,0.2)
}

.btn-spotify:hover, .btn-spotify:focus, .btn-spotify:active, .btn-spotify.active {
  color: #fff;
  background-color :#648F00;
  border-color: rgba(0,0,0,0.2)
}
