- if ghosting?
  %nav.navbar.navbar-ghosting
    .container-fluid
      = render "layouts/navigation/ghosting"
= render partial: "layouts/navigation/primary_nav"
= render partial: "layouts/navigation/search_nav"
