%li.dropdown
  = link_to "#", class: 'dropdown-toggle', data: { toggle: 'dropdown' } do
    %span< Admin
    %span.caret
  %ul.dropdown-menu
    %li= link_to "Manage Class Types", admin_clazz_types_path
