%form{ class: @navbar.wide_search? ? "wide-search" : "narrow-search pull-right" }
  .form-group
    %span
      %i.glyphicon.glyphicon-search
    = text_field_tag :text, "", class: "form-control", placeholder: "Search", id: "search-text", autofocus: @navbar.wide_search?, readonly: !@navbar.wide_search?

- unless @navbar.wide_search?
  :javascript
    $("#search-text").click(function() {
      window.location.href = "/search"
    });
